<div class="col-md-8 center-block">
	<div class="col-md-4">
		<h2>&nbsp;&nbsp;<i class='ion-android-desktop'></i> ${_j('title')}</h2>
		<div class="list-group">
			<a href="/admin/devices" class="list-group-item"><i class='ion-android-wifi'></i> ${_l('Devices')} <span class="badge">${devices_count}</span></a>
			<a href="/admin/groups" class="list-group-item"><i class='ion-ios-people'></i> ${_l('Groups')} <span class="badge">${groups_count}</span></a>
			<a href="/admin/users" class="list-group-item"><i class='ion-person'></i> ${_l('Users')} <span class="badge">${users_count}</span></a>
			<a href="/admin/posts" class="list-group-item"><i class='ion-compose'></i> ${_l('Posts')} <span class="badge">${posts_count}</span></a>
			<a href="/feed" class="list-group-item active"><i class='ion-ios-paper'></i> ${_l('Feed')} <span class="badge">${feed_unread_count}</span></a>
		</div>
		<div class="list-group online"></div>
	</div>
	<div class="col-md-8">
		<div class="group-control">&nbsp;</div>
		<div class="row">
			<div class="col-md-12">

				<form class="form" action="/feed/add">
					<div class="alert alert-clean text-right">
						<div class="form-group">
							<textarea class="form-control" name="status" placeholder="${_l('Status_Placeholder')}" required></textarea>
						</div>

						<div class="btn-group pull-right">
							<button type="submit" class="btn btn-success"> <i class="ion-checkmark-round"></i> &nbsp;Publicar </button>
						</div>

						<ul class="nav navbar nav-pills pull-right dropdown-menu-form status-privacy"> 

						<li role="presentation" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" role="button" aria-expanded="false">
						<span>
						<span><i class="${app.sess.privacy_icon}"></i></span>
						</span>
						<span class="caret"></span>
						</a>
						<ul class="dropdown-menu inverted" role="menu">
						<li>
						<div class="radio">
						<label>
						<input type="radio" name="privacy_id" id="privacy1" value="1"{{if app.sess.privacy_id != null && app.sess.privacy_id == 1}} checked{{/if}}>
						<span><span><i class="ion-android-globe x12"> </i> </span> </span> &nbsp;Público</label>
						</div>
						</li>
						<li>
						<div class="radio">
						<label>
						<input type="radio" name="privacy_id" id="privacy2" value="2"{{if app.sess.privacy_id != null && app.sess.privacy_id == 2}} checked{{/if}}>
						<span><span><i class="ion-ios-people x12"> </i> </span> </span> &nbsp;Amigos</label>
						</div>
						</li>
						<li>
						<div class="radio">
						<label>
						<input type="radio" name="privacy_id" id="privacy3" value="3"{{if app.sess.privacy_id != null && app.sess.privacy_id == 3}} checked{{/if}}>
						<span><span><i class="ion-person-stalker x12"> </i> </span> </span> &nbsp;Seguidores</label>
						</div>				              	
						</li>
						<li>
						<div class="radio">
						<label>
						<input type="radio" name="privacy_id" id="privacy3" value="4"{{if app.sess.privacy_id != null && app.sess.privacy_id == 4}} checked{{/if}}>
						<span><span><i class="ion-android-lock x12"> </i> </span> </span> &nbsp;Solo yo</label>
						</div>				              	
						</li>

						</ul>
						</li> 

						</ul>

						<div class="clearfix"></div>
					</div>
				</form>
				<div class="text-center x3"><i class="spinner ion-load-c faa-spin animated"></i></div>
				<div class="timeline list-group text-left"></div>
			</div>

		</div>
	</div>
</div>