<div class="col-md-12">
	<div class="col-md-8">
		<h1 class="page-header"><i class='ion-film-marker'></i> ${entry.title}</h1>
		<blockquote>
			<p>${entry.excerpt}</p>
		</blockquote>
		<div class="slick-std">
		{{each files}}
			<div class="image">
				<img class="img-responsive" src="/upload/posts/${$value.name}">
			</div>
		{{/each}}
		</div>
		<div class="group-control">&nbsp;</div>
		<div>
			{{html entry.content}}
		</div>
	</div>
	<div class="group-control">&nbsp;</div>
	<div class="group-control">&nbsp;</div>
	<div class="group-control">&nbsp;</div>
	<div class="group-control">&nbsp;</div>
	<div class="group-control">&nbsp;</div>
</div>