<div class="col-md-12">
	<div class="col-md-9">
		<div class="group-control">&nbsp;</div>
		<div class="row">
		{{each posts}}
			<div class="col-md-3 col-xs-6">
				<div class="row">
					<div class="photo box_hover">
						<p>
							<a href="/posts/${slug}" title="${title}">
								<img src="${_j('baseurl')}/upload/posts/th-${image}" alt="${caption}" class="img-responsive pull-left img-rounded"> 
							</a>
						</p>					
						<div class="caption col-lg-12 animate">
							<div class="blur"></div>
							<div class="caption-date">
								<h5 class="title">
									${created}
								</h5>
							</div>
							<div class="caption-text">
								<h3 class="title">
									<a href="/posts/${slug}" title="${title}">${title}</a>
								</h3>
							</div>
							<div class="caption-summary">
								<h5 class="title">
									<a href="/posts/${slug}" title="${title}">
										${caption}
									</a>
								</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		{{/each}}
		</div>
	</div>
	<div class="col-md-3 col-md-offset1 text-center">
		<div class="group-control">&nbsp;</div>
		<div class="group-control">&nbsp;</div>
		<h4>${_l('About_Author')}</h4>
		{{if blog.avatar != null && blog.avatar != 'default.png'}}
		<a href="/account/${blog.username}"><img class="img-circle" src="${_j('baseurl')}/upload/profile/th-${blog.avatar}"></a>
		{{/if}}
		<h4><a href="/account/${blog.username}">${blog.author}</a></h4>
		<p>${blog.bio}</p>
	</div>
</div>