<div class="col-md-12">
	<div class="col-md-9">
		<div class="group-control">&nbsp;</div>
		<ul class="ch-grid">
		{{each posts}}
			<li>
				<div class="ch-item" style="background-image: url(${_j('baseurl')}/upload/posts/th-${image})">
					<div class="ch-title">
						<h3>{{html title}}</h3>
						<p>${_l('Written_By')} ${user}</p>
						<img class="img-circle" src="${_j('baseurl')}/upload/profile/ty-${avatar}">

					</div>
					<div class="ch-caption">
						<h5>
							<i class="ion-android-time"></i> ${created} 
							<i class="ion-eye"></i> ${hits}
							<i class="ion-chatbubbles"></i> <a href="http://${username}.devmeta.net/posts/${slug}#disqus_thread">0</a>
						</h5>
						<h3>{{html caption}}</h3>
						<p>
							<a href="/posts/${slug}"><i class="ion-ios-glasses"></i> ${_l('View')}</a>
						</p>
					</div>
				</div>
			</li>
		{{/each}}
		</ul>
	</div>
	<div class="col-md-3 col-md-offset1 text-center">
		<div class="group-control">&nbsp;</div>
		{{if blog.avatar != null && blog.avatar != 'default.png'}}
		<a href="/account/${blog.username}"><img class="img-circle" title="${_l('About_Author')}" src="${_j('baseurl')}/upload/profile/th-${blog.avatar}"></a>
		{{/if}}
		<h4><a href="/account/${blog.username}">${blog.author}</a></h4>
		<p>${blog.bio}</p>
	</div>
</div>

{{if disqus == 1}}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'devmetablogs';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{{/if}}
