<div class="col-md-12">
	<div class="col-md-6">
		<h1 class="page-header"><i class='ion-person-add'></i> Crea tu cuenta</h1>
		<p>Rellena el siguiente formulario para crear tu cuenta gratuita. Al finalizar obtendrás los datos de tu cuenta ftp en nuestro servidor. Ante cualquier duda o sugerencia consultanos a <a href="mailto:social@devmeta.net">social@devmeta.net</a></p>
		<form class="form" action="/auth/signup">
			<div class="col-md-6 row">
				<div class="form-group">
					<input type="text" name="title" class="form-control" placeholder="Tu nombre" required />
				</div>
				<div class="form-group">
					<input type="email" name="email" class="form-control" placeholder="Tu email" data-validation-email-message="Ingresa un correo electrónico válido" required />
				</div>
				<div class="form-group">
					<input type="password" name="password" id="password" class="form-control" placeholder="Tu contraseña" required />
					<div id="messages"></div>
				</div>
				<div class="form-group">
					<input type="text" name="username" class="form-control" placeholder="Tu nombre de usuario" required />
					<div id="messages-username"></div>
				</div>
				<div class="form-actions form-group text-center">
					<button type="submit" class="btn btn-success"><i class="ion-checkmark-circled"></i> Crear mi cuenta ahora</button>
				</div>
	  		</div>
			<div class="alert suscribe-response hide"></div>
			<div class="clearfix"></div>
			<div class="checkbox">
			    <input type="checkbox" id="terms" name="terms" data-validation-required-message="${_l('Agree_Tos_Message')}" required />
			    <label for="terms"> ${_l('I_Agree')}  <a href="#_tos--lang" role="button" data-toggle="modal"> ${_l('Tos_And_Privacy')} </a> </label>
			</div>	 		
		</form>
	</div>
</div>