<div class="col-md-12">
	<div class="col-md-6">
		<h1 class="page-header"><i class='ion-person-add'></i> Ingresa</h1>
		<p>Rellena el siguiente formulario para crear tu cuenta gratuita. Al finalizar obtendrás los datos de tu cuenta ftp en nuestro servidor. Ante cualquier duda o sugerencia consultanos a <a href="mailto:social@devmeta.net">social@devmeta.net</a></p>

		<form class="form" action="/auth/signin">
			<div class="alert alert-warning bg-white">
				<div class="form-group">
					<input type="text" name="email" class="form-control" placeholder="${_l('Signin_Email')}" required />
				</div>
			    <div class="input-group">
			      <input type="password" name="password" class="form-control" placeholder="${_l('Signin_Password')}" required />
			      <span class="input-group-btn">
			        <button type="submit" class="btn btn-default btn-primary" type="button"><i class="ion-checkmark-circled"></i> ${_l('Signin_Button')}</button>
			      </span>
			    </div>
				<div class="checkbox">
				    <input type="checkbox" id="remember" name="remember" value="1">
				    <label for="remember"> ${_l('Signin_Remember')} </label>
				</div>			    
				<div class="clearfix"></div>
			   	<a href="#tos" role="button" data-toggle="modal">${_l('Signin_Forgot_Password')}</a>
	  		</div>
		</form>
	</div>
</div>		