<div class="col-md-12">
	<div class="col-md-9">
		<h2><i class="ion-pound"></i>${tag}</h2>
		<div class="row">
		{{each posts}}
			<div class="col-md-3">
				<div class="row">
					<a href="/posts/${slug}">
						<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
							<div class="flipper">
								<div class="front cover" style="background:#f9f9f9 url(${_j('baseurl')}/upload/posts/th-${image});">
									<h1><span>{{html title.split(' ').join('</span><span>')}}</span></h1><small>${timespan}</small>
								</div>
								<div class="back cover" style="background:#676767 url(${_j('baseurl')}/upload/posts/th-${image});background-blend-mode: difference;">
									<p><span>{{html caption.split(' ').join('</span><span>')}}</span></p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		{{/each}}
		</div>
	</div>
	<div class="col-md-3 col-md-offset1">
		<div class="group-control">&nbsp;</div>
		<h4>${_l('About_Author')}</h4>
		{{if blog.avatar != null && blog.avatar != 'default.png'}}
		<a href="/account/${blog.username}"><img class="img-circle" src="${_j('baseurl')}/upload/profile/th-${blog.avatar}"></a>
		{{/if}}
		<h4><a href="/account/${blog.username}">${blog.author}</a></h4>
		<p>${blog.bio}</p>
	</div>
</div>