<div class="col-md-8">
<h1 class="page-header"><i class='ion-ios-gear'></i> caldero Compacted Wiki</h1>

<h3>1. Models</h3>
<p>Models are a vital role in any MVC app.</p>
<pre><code data-language="php">namespace App\Models;

class Post extends App\Models\Model { 

  static $table = 'posts';

  public function images() {
      return static::hasMany('File','parent_id');
  }
}
</code></pre>

<h3>Controllers</h3>
<p></p>
<pre><code data-language="php">namespace App\Controllers;

use App\Models\Post as Post;
use App\Models\DB as DB;

class PostController extends App\Models\Controller {
  
  private $limit = 12;

  public function index(){
    return Post::with('images')
      ->where('posts.id','>',0)
      ->where('files.position',1)
      ->where('files.tag','post')
      ->get();
  }

  public function tag($slug){
    
    $entry = Post::with("images")
      ->where('posts.slug',$slug)
      ->first();

    if($entry){

      $files = DB::query("select * 
        from files 
        where parent_id = " . $entry['id'] . " 
        order by position",
        0);

      $response = array(
        'entry' => $entry,
        'files' => $files
      );

    } else {
      $response = array(
        'view'  => 'missing'
      );
    }

    return $response;
  }
}</code></pre>
