<h2 class="modal-title">Compone</h2>

<form class="form" action="/feed/add">
	<div class="alert alert-clean text-right">
		<div class="form-group">
			<textarea class="form-control" name="status" placeholder="${_l('Status_Placeholder')}" required></textarea>
		</div>


		<div class="btn-group pull-right">
			<button type="submit" class="btn btn-success"> <i class="ion-checkmark-round"></i> &nbsp;Publicar </button>
		</div>

		<ul class="nav navbar nav-pills pull-right dropdown-menu-form status-privacy"> 

		<li role="presentation" class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" role="button" aria-expanded="false">
		<span>
		<span><i class="${ app.sess.privacy_icon }"></i></span>
		</span>
		<span class="caret"></span>
		</a>
		<ul class="dropdown-menu inverted" role="menu">
		<li>
		<div class="radio">
		<label>
		<input type="radio" name="privacy_id" id="privacy1" value="1">
		<span><span><i class="${_l('Privacy_Icon_1')}"></i></span></span> ${_l('Privacy_1')}</label>
		</div>
		</li>
		<li>
		<div class="radio">
		<label>
		<input type="radio" name="privacy_id" id="privacy2" value="2">
		<span><span><i class="${_l('Privacy_Icon_2')}"></i></span></span> ${_l('Privacy_2')}</label>
		</div>
		</li>
		<li>
		<div class="radio">
		<label>
		<input type="radio" name="privacy_id" id="privacy3" value="3">
		<span><span><i class="${_l('Privacy_Icon_3')}"></i></span></span> ${_l('Privacy_3')}</label>
		</div>				              	
		</li>
		</ul>
		</li> 

		</ul>
		<div class="clearfix"></div>
	</div>
</form>