@import url("overpass.css");

html {
  background-color: #232323;
}

body {
  background-color: #232323;
  color:#ccc;
  font-weight: 300;
  font-family: "overpassregular";
}

body > .container {
  background-color: #232323;
}

a, strong {
  color: #fff!important;
}

a:hover {
  color: orange!important;
}

.navbar {
  background-color: #333;
  opacity: 0.9;	
}

.navbar-brand strong {
  font-weight: 400;
}

.pagination > li > a, .pagination > li > span {
  border: 1px solid #211F1F!important;
}

.pagination > li > a {
  color: #fff;
  background-color: #333;
}

.pagination > li > a:hover {
  color: #333!important;
  background-color: #fff;
}

.pagination > li.active > a {
  background-color: red;
}

.pagination > li.disabled > a {
  color: #333;
  background-color: #666;
}

