@import url("source-sans-pro.css");

html {
  background-color: #fff;
}

body {
  background-color: transparent;
  font-weight: 300;
  font-family: "Source Sans Pro";    
}

.navbar {
  background-color: #fff;
}

.container {
  background-color: #fff;
}