.feature-list > div {
	position: relative;
	margin-bottom: 0.5em;
	padding: 0;
	height:250px;
	display: inline;
	margin: 0px;
	padding: 15px;
	height: auto;
	float: left;
	list-style: outside none none;
	transition: all 0.25s ease-in 0s;
}

.feature-list > div > a {
	display: block;
	position: relative;
	overflow: hidden;
}

.feature-list > div > a > img {	
	margin: 0px;
	width: 100%;
	transform: scale(1.05);
	transition: all 0.35s ease-out 0s;
	height: auto;
	max-width: 100%;	
}

.feature-list > div > a:hover img {
	transform: scale(1.5);
}

.feature-title {
	margin: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	display: block;
	padding: 15px 20px;
	padding-bottom: 0;
	font-size: 15px;
	line-height: 1.3em;
	color: #FFF;
}

.feature-attr{
	text-align: center;
	padding: 0.4em;
	font-size:14px;
	color:#fff;
	background:#000;
	font-weight: bold;
}

.feature-attr i {
	margin-left: 0.5em;
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .feature-list li a {
    padding-bottom:73.33333333%!important;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .feature-list li a {
    padding-bottom:16.6666666%!important;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .feature-list li a {
    padding-bottom:16.666666666%!important;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .feature-list li a {
    padding-bottom:33.3333333333%!important;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .feature-list li a {
    padding-bottom:33.333333333333%!important;
  }
}