@import url("ltcircular.css");

html {
  background-color: #f9f9f9;
}

body {
  background-color: #f9f9f9;
  font-weight: 300;
  font-family: "LTCircular";
}

body > .container {
  background-color: #f9f9f9;
}

.navbar {
  background-color: #f1f1f1;
  opacity: 0.9;	
}

.label {
  padding: 0.4em .6em .3em;
}

.search-results {
  background:#333;
}
