@import url("ltcircular.css");

html {
  background-color: #f9f9f9;
}

body {
  background-color: #f9f9f9;
  font-weight: 300;
  font-family: "LTCircular";
}

.container {
  background-color: #f9f9f9;
}

.label {
  padding: 0.4em .6em .3em;
}